.Container{
    border: 1px solid rgb(179, 196, 202);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
}
#item1{
    align-self: center;
}
#item2{
    align-self: center;
}
.item img{
    border: 2px solid rgb(245, 246, 246);
    border-radius: 4cm;
    margin-bottom: 20px;
}
.Container .item .para1{
    color: royalblue;
    font-weight: bold;
}
.Container .item .para2{
    text-align: justify;
}
.Container .item .para2 .a{
    color: royalblue;
    font-weight: bold;
}
#item1 :hover{
    box-shadow: -2px 2px 30px 7px rgba(173,171,173,0.62);
    border: none;
    cursor: pointer;
    transition-duration: 6s ease;
}