.menubar {
  width:1076px;
  margin-left:7%;
  margin-top:10px;
  overflow: hidden;
  background-color: #1768AC;
}

.menubar a {
  float: left;
  font-size: 90%;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

.menubar-content {
  float: left;
  overflow: hidden;
}

.menubar-content a  {
  
  font-size: 90%;  
  border: none;
  outline: none;
  color: white;
  padding: 12px 15px;
  border-right:1px solid #06bee1;

  margin: 0;
}

.menubar a:hover, .menubar-content:hover  {
  background-color: #06bee1;
}

.menubar-sub-content {
  display: none;
  position: absolute;
  top:87px;
  background-color: #1768AC;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menubar-sub-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  border-right:none;
  border-bottom:1px solid #06bee1;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menubar-sub-content a:hover {
  background-color: #06bee1;
}

.menubar-content:hover .menubar-sub-content {
  display: block;
}

.no-border {
  border:none !important ;
}

.fa-angle-down {
  position:relative;
  top:2px;
}
