.aim-cards {
  position: relative;
  display: inline-flex;
  padding: 3% 2%;
  width: 100%;
  justify-content: space-between;
  overflow-x: hidden;
}

.vectorArt {
  position: relative;
  display: inline-block;
  width: 45%;
  padding: 0 3%;
}

.vectorArt img {
  width: 100%;
}

.aim-desc {
  display: inline-block;
  position: relative;
  width: 45%;
  text-align: left;
}

.aim-desc i {
  color: #2541b2;
  font-size: 2.5rem;
  padding: 0 0 3% 0;
}
.m-view {
  display: none;
}

@media screen and (max-width: 1000px) {
  .d-view {
    display: none;
  }

  .m-view {
    display: block;
  }

  .aim-cards {
    display: block;
  }

  .vectorArt {
    width: 100%;
    display: block;
  }
  .aim-desc {
    width: 100%;
    display: block;
  }
  .content-heading {
    padding: 10% 2% 2%;
    text-align: left;
  }

  .content-heading::after {
    margin: 1.75% 1%;
    width: 5.5rem;
    height: 1.5px;
  }

  .aim-desc i {
    font-size: 1.8rem;
  }
}

.info-section {
  padding: 2%;
  display: inline-flex;
  width: 100%;
}

.info-card {
  width: 30%;
  border-radius: 15px;
  display: inline-block;
  border: 1px solid rgb(112, 112, 112, 0.53);
  background-color: #ffffff;
  margin: 1.5%;
  position: relative;
}

.info-head {
  position: relative;
  width: 100%;
  height: 4rem;
  background-color: #03256c;
  border-radius: 15px 15px 0 0;
  text-align: center;
  display: block;
}
.info-head h3 {
  color: #ffffff;
  padding-top: 0.8rem;
}

.info-foot {
  position: relative;
  bottom: 0;
  padding: 8px;
  width: 100%;
  height: 3.8rem;
  border-top: 1px solid rgb(112, 112, 112, 0.53);
}

@media screen and (max-width: 1160px) {
  .info-card {
    display: block;
    width: 100%;
    margin: 5% 0;
  }
  .info-section {
    display: block;
    justify-content: left;
  }
}

.info-list-card {
  width: 100%;
  display: block;
  position: relative;
}

.info-list {
  list-style: none;
  padding: 2% 5%;
  margin: 0;
  display: block;
  border-bottom: 1px solid rgb(112, 112, 112, 0.53);
}

.info-list li a {
  text-decoration: none;
  font-size: 1.1rem;
}

.info-list em {
  color: rgb(112, 112, 112, 0.73);
  font-size: 0.8rem;
}
