/* #03256C Dark-blue #2541B2 blue #1768AC green #06BEE1 light-green #FFFFFF white */


body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Chettan 2', cursive;
}
.top-links{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height:2.2em;
  background-color: #1768AC;
  padding: 5px 15%;

}

.top-links a {
  display: inline;
  color: #FFFFFF;
  padding-top:60%;
  margin: auto 0.9%;
  text-decoration: none;
  display: none;

}
@media screen and (min-width: 770px) {
    .top-links a {
        display:inline;
    }
}

.social-links{
  position:relative;
  left:40%;
  display:inline;
}


.navigation-bar{

}

.footer {
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 43em;
  background-color: #2541B2;
  padding: 0;
}

.footer h2{
  font-size: 1.7rem;
  color: #FFFFFF;
  padding-bottom: 1%;

}
.footer p{
  font-size: 1.3rem;
  color:#FFFFFF;
  text-align: center;
}

.footer iframe{
  background-blend-mode: screen;
  z-index: 2;
}

.credits{
  z-index: 2;
  color:#FFFFFF;
  background-color: #03256C;
  padding: 0.5% 0 0.5% 0 ;
  position: relative;
}

.colour{
  position: relative;
  width:100%;
  height: 30em;
  background-color: #06BEE1;
  border-radius:  0 0 0 100%/ 0 0 50% 100%;
}
