/* #03256C Dark-blue #2541B2 blue #1768AC green #06BEE1 light-green #FFFFFF white */
body {
  margin: 0;
  padding:0;
  font-family: 'Baloo Chettan 2', cursive;
}
.top-links{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height:5vh;
  background-color: #1768AC;
  padding: 5px 5%;

}

.top-links a {
  display: inline;
  color: #FFFFFF;
  padding-top:60%;
  margin: auto 0.9%;
  text-decoration: none;
  display: none;

}
@media screen and (min-width: 770px) {
    .top-links a {
        display:inline;
    }
}


.navigation-bar{

}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30em;
  background-color: #03256C;
  background-image: linear-gradient(5deg, #2541B2 0%, #06BEE1 80%);
  border-radius:  50% 50% 0 0/20% 20% 0 0;
  padding: 5% 2%;
}

.footer-grid h2{
  font-size: 1.7rem;
  color: #FFFFFF;

}

.footer-grid iframe{
  background-blend-mode: screen;
}
